<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dcSource" value="LDAP://dc.maindomain.com"/>
		<add key="vpnLDAP" value="https://vpnLDAP.domain.com:5986/wsman"/>
	</appSettings>
	<connectionStrings>
		<add name="DataSource" connectionString="Data Source=sqlServer,port\\instance"/>
	</connectionStrings>
</configuration>